{% extends "nav.html" %}
{% block content %}

<div class="container mt-4 mb-4">
    <div class="card">
      <div class="card-header  text-white" style="background-color: #2b4864;">
        <h4> Ten Plus Two Programs</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Explore our Ten Plus Two programs meticulously crafted to provide a robust foundation for further education, fostering a comprehensive understanding and nurturing skills essential for career development and success.</p>

        <ul>
          {% for program in plus2_data %}
            <li>
                <a href="{% url 'plus2_details' id=program.id %}">
                    {{ program.course_title }}
                </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>

<style>
    a {
        text-decoration: none;
    }
</style>

{% endblock %}
