{% extends "nav.html" %}

{% block content %}

<div class="gallery-container mt-5">
    <h1 class="text-center mb-4">Image Gallery</h1>
    <div class="row no-gutters">
        {% for image in image_data %}
            <div class="col-md-4">
                <div class="card mb-4 custom-card">
                    <img src="{{ image.image.url }}" class="card-img-top w-100" alt="{{ image.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
