{% extends "nav.html" %}

{% block content %}
<style>
    .body {
        margin: 0;
        padding: 0;
        background-size: cover;
        font-family: 'DM Sans', 'Helvetica', 'Arial', 'Georgia', 'Tahoma', 'Roboto', sans-serif;
    }

 

    .welcome-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        background: url('app_crud/uploads/gallery/tjmcbg.png') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        margin-top: 260px;
        background-color: rgba(0, 0, 0, 0.6); 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 30px; 
        text-align: center;
        color: #fff; /* White text color */
    }

    .welcome-text {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .btn-success {
        margin-top: 15px;
        background-color: #28a745;
        color: #fff;
        border: none;
    }
    
</style>

<div class="welcome-container">
    <div class="card">
        <div>
        <h5 class="welcome-text">Welcome to Triyuga Janata Multiple Campus</h5>
        <p style="margin-bottom: 20px;">Explore and manage your class assignments with ease.</p>
        <a href="{% url 'myclass' %}" class="btn btn-success">Get Started</a>
        </div>
    </div>
</div>

{% endblock %}
