{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/e558d90e8d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_curd/css/nav.css' %}">


    <title>TJMC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #2b4864;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'tjmclogo.png' %}" alt="Logo" height="30" class="d-inline-block align-text-top">
                TJMC
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'about_us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    
                   
                    <li class="nav-item dropdown" onmouseover="showDropdown(this)" onmouseout="hideDropdown(this)">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Academics
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url '+2' %}">+2</a></li>
                            <li><a class="dropdown-item" href="{% url 'bachelor' %}">Bachelor</a></li>
                            <li><a class="dropdown-item" href="{% url 'master' %}">Master</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" onmouseover="showDropdown(this)" onmouseout="hideDropdown(this)">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Faculty
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'downloads' %}">Downloads</a></li>
                            <li><a class="dropdown-item" href="#">Research</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notice' %}">Notice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="recent-box"> 
                <h4>Recent:</h4>
            </div>
            <div class="moving-box">  
                <a href="{% url 'notice' %}" class="navbar-text" id="movingNotices">Your Moving Text Here</a>   
            </div>
            <form class="form-inline my-2 my-lg-0 ml-auto search-form">
                <div class="row">
                    <div class="col search-input">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col my-icons">
                        <button class="btn btn-outline-success my-2 my-sm-0 custom-button" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                        <a href="#" class="btn my-2 my-sm-0 custom-button">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn my-2 my-sm-0 custom-button">
                            <i class="fa-solid fa-envelope"></i>
                        </a> 
                        <a href="#" class="btn my-2 my-sm-0 custom-button phone">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
    </nav>
    <div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="phoneModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="phoneModalLabel">Contact Numbers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for phone_number in contact_numbers %}
                            <li>{{ phone_number }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        function showDropdown(element) {
            element.querySelector('.dropdown-toggle').classList.add('show');
            element.querySelector('.dropdown-menu').classList.add('show');
        }
    
        function hideDropdown(element) {
            element.querySelector('.dropdown-toggle').classList.remove('show');
            element.querySelector('.dropdown-menu').classList.remove('show');
        }
    
        $(document).ready(function () {
            // Fetch latest three notice titles
            $.ajax({
                url: '{% url "get_latest_notice_data" %}',  
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Limit the data to the latest three items
                    var latestNotices = data.slice(0, 3);
    
                    $('#movingNotices').text(latestNotices.map(item => item.title).join(' || '));
                },
                error: function (error) {
                    console.log('Error fetching notice data:', error);
                }
            });
        });
    
        $(document).ready(function() {
            var movingNotices = $('#movingNotices');

            movingNotices.hover(
                function() {
                    movingNotices.addClass('paused');
                },
                function() {
                    movingNotices.removeClass('paused');
                }
            );
        });

        document.addEventListener('DOMContentLoaded', function () {
            var phoneButton = document.querySelector('.phone');
    
            phoneButton.addEventListener('click', function () {
                var phoneModal = new bootstrap.Modal(document.getElementById('phoneModal'));
                phoneModal.show();
            });
        });

        

    </script>
{% block content %}


{% endblock %}

<footer class="footer mt-3" style="background-color: #2b4864;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3" style="color: #fff;">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3" style="color: #fff;">
                <h5>Additional Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-md-4 mt-3" style="color: #fff;">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps?q=26.777705,86.681419">Find Us</a></li>
                    {% for phone_number in contact_numbers%}
                    <li><i class="fas fa-phone"></i> <span>{{ phone_number }}</span></li>
                    {% endfor %}
                    <li><i class="fa-regular fa-envelope"></i> <span>example@gmail.com</span></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center" style="color: #fff;">
                <p>&copy;  1987 TJMC. |  All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

    
</body>
</html>
