{% extends "nav.html" %}
{% block content %}

<div class="container">
  <div class="row">
    {% for data in notice_data %}
      <div class="col-sm-6">
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h5 class="card-header d-flex align-items-center" style="color: #fff; background-color: #2b4864;">
              <span class="text-truncate d-inline-block" style="max-width: 100%;">{{ data.title }}</span>
            </h5>
            <img src="{{ data.image.url }}" alt="image" class="rounded float-right" width="100" height="100">
            <p class="card-text">{{ data.description|truncatechars:100 }}</p>
            <a href="{% url 'detail_notice' id=data.id %}" class="btn btn-primary" style="background-color: #2b4864; border-color: #21334d;">View More</a>
          </div>
          <div class="card-footer text-muted d-flex align-items-center" style="background-color: #e1e1e3;">
            -{{ data.formatted_created_at }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
