{% extends "nav.html" %}
{% block content %}

<div class="sus-container mt-2 mb-4" style="margin-left: 140px;">
<h3>
  <small class="text-muted">Notices</small>
</h3>
</div>

{% for notice in page_data %}
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-6">
        <a href="{% url 'detail_notice' notice.id %}" class="card-link">
          <div class="card custom-card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-auto">
                  <p class="fw-bold mb-0" style="color: #344ccb;">{{ notice.formatted_created_at }}:</p>
                </div>
                <div class="col-md-auto">
                  <p class="mb-4 fw-bold">{{ notice.title }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endfor %}

<!-- Pagination pages -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    {% if page_data.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_data.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for num in page_data.paginator.page_range %}
      {% if page_data.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_data.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_data.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_data.paginator.num_pages }}">Last</a>
      </li>
    {% endif %}
  </ul>
</nav> 


<style>
  

  .card-link {
    text-decoration: none; /* Remove underline on link */
    color: inherit; /* Inherit the color from the parent */
  }

  .card-link:hover .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add hover effect */
    transform: scale(1.02); /* Add a slight scale effect on hover */
  }
  .custom-card {
    width: 100vh;
    margin: 0 1rem; /* Adjust the margin as needed */
  }

  .notice-info {
    display: flex;
    align-items: center;
  }

  .notice-info p {
    margin-right: 1rem; /* Adjust the margin between date and title */
  }

  @media (max-width: 768px) {
    .custom-card {
      width: 100%; /* Full width for smaller screens */
      margin: 0; /* No margin on smaller screens */
    }
  }
</style>

{% endblock %}
