/* Custom styles for the first navbar with a dark background */
.navbar-dark {
    padding: 10px; /* Increase the padding to make the navbar taller */
}

/* Style the TJMC logo */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}


.navbar-form {
    margin-right: 40px; /* Adjust the margin to move the search bar to the left */
}

.form-control {
    border-radius: 0; /* Optional: Remove border-radius for a modern look */
}

.btn-outline-light {
    border-radius: 0; /* Optional: Remove border-radius for a modern look */
}

/* Customize navbar text styles */

.navbar-brand,
.navbar-nav .nav-link {
    font-size: 18px; /* Adjust the font size to make text larger */
    color: #ffffff; /* Set text color to white */
}

.navbar-toggler {
    font-size: 24px; /* Adjust the font size of the toggler icon */
    color: #ffffff; /* Set toggler icon color to white */
}


.recent-box {
    background-color: #2b4864; /* Set your desired background color */
    padding: 7px; /* Adjust the padding as needed */
    display: flex; /* Use flexbox for layout control */
    align-items: center; /* Center items vertically */
    margin-right: 10px; /* Add margin to separate from other elements */
}

/* Customize the Recent: heading style */
.recent-box h4 {
    margin-right: 10px; /* Adjust the margin as needed */
    font-size: 18px; /* Adjust the font size as needed */
    color: white; /* Set heading color to black */
}




/* Style the moving box container */
.moving-box {
    background-color: #f0f0f0; /* Set your desired background color */
    padding: 3px; /* Adjust the padding as needed */
    display: flex; /* Use flexbox for layout control */
    align-items: center; /* Center items vertically */
    overflow: hidden; /* Hide any overflowing content */
    margin-right: 10px; /* Add margin to separate from navbar items */
}

/* Customize the Recent: heading style */
.moving-box h4 {
    margin-right: 10px; /* Adjust the margin as needed */
    font-size: 18px; /* Adjust the font size as needed */
    color: #000000; /* Set heading color to black */
}

.moving-box a {
    text-decoration: none; /* Remove default link underline */
    color: #2b2bce;
    display: inline-block; /* Ensure each link is on a new line */
    margin-right: 20px; /* Adjust spacing between links */
    white-space: nowrap;
    animation: moveText 17s cubic-bezier(0.17, 0.40, 0.83, 0.67) infinite;
}

.moving-box a:hover {
    text-decoration: underline; /* Add underline on hover */
    animation-play-state: paused; /* Pause animation on hover */
}

.search-form {
    margin-top: 10px; /* Adjust the distance from the top */
}

.search-input {
    margin-right: -9px; /* Adjust the distance between the input and the button */
    width: 300px; /* Adjust the width of the input field */
}

.custom-button {
    color: #ffffff; /* Set the color of the button text */
    background-color: #2b4864; /* Set the background color of the button */
    border-color: #2b4864; /* Set the border color of the button */
}

.custom-button:hover {
    color: #2b4864; /* Set the color of the button text on hover */
    background-color: #ffffff; /* Set the background color of the button on hover */
    border-color: #2b4864; /* Set the border color of the button on hover */
}

/* Moving Notices Animation */
@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Style the moving text */
#movingNotices {
    animation: moveText 30s linear infinite; /* Adjust duration and timing function */
    white-space: nowrap;
    animation: moveText 17s cubic-bezier(0.17, 0.40, 0.83, 0.67) infinite;
    color: #000000;
    overflow: visible; /* Prevent text overflow */
}

#movingNotices:hover {
    animation-play-state: paused;
}

.fotter {
    margin-top: auto;

}


.list-unstyled li a {
    text-decoration: none;
    color: #e3dede;
}

.list-unstyled li a:hover{
    color: #ffffff;
}

@media (max-width: 767px) {

    .moving-box a {
        white-space: normal; /* Allow text to wrap on smaller screens */
        margin-right: 0; /* Remove right margin on smaller screens */

    }
    .recent-box,
    .moving-box {
        margin-bottom: 10px; /* Adjust the margin between recent-box and moving-box for smaller screens */
    }

    #searchInput {
        font-size: 12px; /* Adjust the font size for smaller screens */
        padding: 5px; /* Adjust padding for smaller screens */
    }

    #searchButton {
        font-size: 12px; /* Adjust the font size for smaller screens */
        padding: 5px 5px; /* Adjust padding for smaller screens */
        height: fit-content;
    }
  

    #searchButton i {
        font-size: 0.75rem; /* Adjust the font size for the icon */
    }
    
   
}
/*  larger screens (laptops) */
@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto; /* Move the nav-items to the left */
    }
        
    
    .moving-box {
        margin-right: auto; /* Align the moving box to the left on larger screens */
        width: 40%;
    }
      
}

@media (max-width: 600px) {
    .search-form {
        width: 100%;
        display: flex;
        align-items: center;

    }
    .form-control {
        margin-top: 8px;
        border-radius: 0;
    }

    .my-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .my-icons .btn {
        margin-right: 5px; /* Adjust as needed */
     }
    
}


